# Set your variables here

sitefile=sitelist.txt
sitelog=output.log
options=" --spider -S"
log_failures_only=0

# Telegram
TOKEN=<token>
CHAT_ID=<chat_id>
MESSAGE="Hei verden!"
URL="https://api.telegram.org/bot$TOKEN/sendMessage"
