# Set your variables here

sitefile=sitelist.txt
sitelog=output.log
log_failures_only=0

# Telegram
TOKEN=<token>
CHAT_ID=<chat_id>
MESSAGE="Hello world!"
URL="https://api.telegram.org/bot$TOKEN/sendMessage"
